<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="list-group elements-tree">
        <app-item class="list-group-item" *ngFor="let element of treeProcessed" [element]="element"></app-item>
      </div>
    </div>
  </div>
</div>

