<div [style.paddingLeft]="currentElement.level + 'em'" class="element-container">
  <div class="left-icons-area">
    <span class="fa fa-plus" *ngIf="currentElement.children.length > 0 && !currentElement.isOpen" (click)="showElement(currentElement.id)"></span>
    <span class="fa fa-minus" *ngIf="currentElement.isOpen" (click)="hideElement(currentElement.id)"></span>
  </div>
  <div class="element-title" (click)="showEditForm()">{{ currentElement.title }}</div>
  <div class="actions">
    <span class="fa fa-plus-circle" (click)="showAddForm()"></span>
    <span class="fa fa-ban" (click)="remove(currentElement.id)"></span>
  </div>
</div>
<div class="edit-element" *ngIf="isEditFormOpen">
  <div class="input-group">
    <input [(ngModel)]="editedTitle" name="title" class="form-control" placeholder="Name of element" required>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="edit(currentElement.id)"><i class="fa fa-floppy-o"></i></button>
      </span>
  </div>
</div>
<div class="new-element" *ngIf="isAddFormOpen">
  <div class="input-group">
    <input [(ngModel)]="newItem.title" name="title" class="form-control" placeholder="Name of element" required>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="add(currentElement.id)"><i class="fa fa-floppy-o"></i></button>
      </span>
  </div>
</div>
