.element-container
  display: flex
  width: 100%
  flex-direction: row
  color: #4183D7
  .left-icons-area
    display: block
    width: 30px
  .actions
    display: none
    width: 35px
  &:hover .actions
    display: block
    .fa
      opacity: 0.7
    .fa:hover
      opacity: 1
    .fa-ban
      color: #C0392B
    .fa-plus-circle
      color: #2ECC71
  .element-title
    display: block
    flex-grow: 1
    cursor: pointer
  .fa
    cursor: pointer

.new-element, .edit-element
  width: 100%
  padding-top: 10px
  margin-top: 10px
  border-top: 1px solid #eeeeee
